.container{
    text-align: center;
    margin-top: 60px;
    font-family: 'Courier New', Courier, monospace;
}
h1{
    color: aqua;
}
input{
    padding: auto;
    width: 220px;
    margin-top: 15px;
    border: 1px solid;
    border-radius: 10px;
}
p{
    margin-top: 20px;
    font-size: 14px;
    color: chocolate;
}