.container {
      height: 100vh;
      padding: 20px;
    }

    .dark {
      background: #121212;
      color: white;
    }

    .light {
      background: #ffffff;
      color: black;
    }

    mat-card {
      margin-top: 20px;
      padding: 20px;
    }